body {
    background-image: url('assets/images/dark-honeycomb.png');
}

.navbar.navbar-expand-lg.navbar-light.bg-dark a {
    color: aliceblue;
}

.text-center {
    margin-top: 20px;
}

.btn-space {
    margin-left: 10px;
    margin-right: 10px;
}

.cardTitle {
    margin-top: 5px;
}

.list-group-item {
    font-size: 300%;
}

.plusminus {
    font-size: 45px;
    margin-right: 20px;
    margin-left: 20px;
}

/* ICONS
<i class="fas fa-receipt"></i>  Restaurant
<i class="fas fa-pizza-slice"></i>  Food Delivery
<i class="fas fa-glass-martini"></i>  Bar
<i class="fas fa-suitcase"></i>  Hotel Staff
<i class="fas fa-car"></i> Taxi
*/

/* Media Queries to Change Tab Words to Icons
@media only screen and (max-width: 320px) {
    .nav-item span {
        display: none;
    }

    .nav-item span:after {
        content: "<i class="fas fa-receipt"></i>";
    }
}
*/